<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybzn.mapper.QuestionnaireIssueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ybzn.pojo.QuestionnaireIssue">
        <id column="questionnaire_issue_id" property="questionnaireIssueId" />
        <result column="questionnaire_id" property="questionnaireId" />
        <result column="issue_id" property="issueId" />
        <result column="user_answer" property="userAnswer" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        questionnaire_issue_id, questionnaire_id, issue_id, user_answer
    </sql>

</mapper>
