<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.yeb.mapper.NationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.yeb.pojo.Nation">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name
    </sql>

    <select id="selectIdByName" parameterType="String" resultType="java.lang.Integer">
        SELECT id
        FROM t_nation
        where name = #{name}
    </select>

    <select id="selectNationById" resultType="com.xxxx.yeb.pojo.Nation">
        select
        <include refid="Base_Column_List"></include>
        from
        t_nation
        where
        id = #{id}
    </select>


</mapper>
